<%- include('partials/_header', { metatags: homepage.metatags }); %>

<main class="page--homepage">
    <section class="container">
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <h1><%= homepage.title %></h1>
            </div>
        </div>
    </section>
    
    <section class="services">
        <h2><%= homepage.services.title %></h2>
        <% homepage.services.list.forEach(function(service){ %>
            <h3><%= service.title %></h3>
            <p><%= service.description %></p>
        <% }); %>

        <a href="/about.html">about</a>
    </section>

</main>

<%- include('partials/_footer'); %>
