<%- include('partials/_header'); %>

<main class="homepage">
    <h1><%= index.title %></h1>
    
    <section class="services">
        <h2><%= index.services.title %></h2>
        <% index.services.list.forEach(function(service){ %>
            <h3><%= service.title %></h3>
            <p><%= service.description %></p>
        <% }); %>

        <a href="/about.html">about</a>
    </section>

    <%- index.markdown %>
</main>

<%- include('partials/_footer'); %>
